.BgImage{
  height: 100%;
  background-position: top;
  background-image: url("C:\Users\개발팀12\Desktop\리액트\FastCampus-Online-Frontend-Signature\1_react\react-disney-plus-app\public\images\login-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

.Container{
  overflow: hidden;
   display: flex;
   flex-direction: column;
   text-align: center;
   height: 100vh;
}

.Content{
  margin-bottom: 10vw;
  width: 100%;
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px 40px;
  height: 100%;
}

.Center{
  max-width: 650px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.LogoOne{
  margin-bottom: 12px;
  max-width: 600px;
  min-height: 1px;
  display: block;
  width: 100%;
}

.SignUpLink{
  font-weight: bold;
  color: #f9f9f9;
  background-color: #0063e5;
  margin-bottom: 12px;
  width: 100%;
  letter-spacing: 1.5px;
  font-size: 18px;
  padding: 16.5px 0;
  border: 1px solid transparent;
  border-radius: 4px;
}

.SignUpLink:hover{
  background-color: #0483ee;
}

.Description{
  font-size: 11px;
  margin: 0 0 24px;
  line-height: 1.5;
  letter-spacing: 1.5px;
}

.LogoTwo{
  max-width: 600px;
  margin-bottom: 20px;
  display: inline-block;
  vertical-align: bottom;
  width: 100%;
}